@model DetailsVM
@{
    ViewData["Title"] = "Pokemon";
    string Cor(string nome)
    {
        return Model.Tipos
            .Where(t => t.Nome == nome)
            .Select(t => t.Cor)
            .FirstOrDefault();
    }
}

<section class="pt-5 container">
    <div class="row">
         <div class="col text-center">
            @if (Model.Anterior != null)
            {
                <a asp-action="Details" asp-route-id="@Model.Anterior.Numero" class="btn btn-lg btn-outline-dark">
                    @Model.Anterior.Numero.ToString("000") - @Model.Anterior.Nome
                </a>
            }
    </div>

    <div class="col text-center">
        <h1 class="fs-1">@Model.Atual.Nome 
            <span class="fs-2 text-secondary">Nº @Model.Atual.Numero.ToString("000")</span>
        </h1>
    </div>
        <div class="col text-center">
            @if (Model.Proximo != null)
            {
                
            }
             </div>
         </div>
     </div>
</section>